Engine/Connected Services/CustommerResource/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustommerResource" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICustommerResource_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Resource.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustommerResource_GetAllCustommers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustommers" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_GetAllCustommers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustommersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_GetCustommerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustommerByID" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_GetCustommerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustommerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_InsertCustommer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustommer" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_InsertCustommer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustommerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_UpdateCustommer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustommer" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_UpdateCustommer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustommerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_DeleteCustommer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustommer" />
  </wsdl:message>
  <wsdl:message name="ICustommerResource_DeleteCustommer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustommerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustommerResource">
    <wsdl:operation name="GetAllCustommers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustommerResource/GetAllCustommers" message="tns:ICustommerResource_GetAllCustommers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustommerResource/GetAllCustommersResponse" message="tns:ICustommerResource_GetAllCustommers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustommerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustommerResource/GetCustommerByID" message="tns:ICustommerResource_GetCustommerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustommerResource/GetCustommerByIDResponse" message="tns:ICustommerResource_GetCustommerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustommer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustommerResource/InsertCustommer" message="tns:ICustommerResource_InsertCustommer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustommerResource/InsertCustommerResponse" message="tns:ICustommerResource_InsertCustommer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustommer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustommerResource/UpdateCustommer" message="tns:ICustommerResource_UpdateCustommer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustommerResource/UpdateCustommerResponse" message="tns:ICustommerResource_UpdateCustommer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustommer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustommerResource/DeleteCustommer" message="tns:ICustommerResource_DeleteCustommer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustommerResource/DeleteCustommerResponse" message="tns:ICustommerResource_DeleteCustommer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICustommerResource" type="tns:ICustommerResource">
    <wsp:PolicyReference URI="#NetTcpBinding_ICustommerResource_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllCustommers">
      <soap12:operation soapAction="http://tempuri.org/ICustommerResource/GetAllCustommers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustommerByID">
      <soap12:operation soapAction="http://tempuri.org/ICustommerResource/GetCustommerByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustommer">
      <soap12:operation soapAction="http://tempuri.org/ICustommerResource/InsertCustommer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustommer">
      <soap12:operation soapAction="http://tempuri.org/ICustommerResource/UpdateCustommer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustommer">
      <soap12:operation soapAction="http://tempuri.org/ICustommerResource/DeleteCustommer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustommerResource">
    <wsdl:port name="NetTcpBinding_ICustommerResource" binding="tns:NetTcpBinding_ICustommerResource">
      <soap12:address location="net.tcp://localhost:8523/DataServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/DataServices</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>