Custommers/Connected Services/CustommerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Manager.DataContracts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCustommers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustommersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Manager.DataContracts" minOccurs="0" name="GetCustommersResult" nillable="true" type="q1:ArrayOfCustommer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustommerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustommerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Manager.DataContracts" minOccurs="0" name="GetCustommerByIDResult" nillable="true" type="q3:Custommer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustommer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Manager.DataContracts" minOccurs="0" name="custommer" nillable="true" type="q4:Custommer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustommerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Manager.DataContracts" minOccurs="0" name="AddCustommerResult" nillable="true" type="q5:ArrayOfError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>